.control-column {
  width: 350px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@media only screen and (max-width: 800px) {
  .control-column {
    display: none;
  }
}
