@import "../../../styles/colors";

.widget-slot-wrapper {
  display: flex;
  align-self: stretch;
  align-items: center;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  .widget-slot {
    display: flex;
    flex-grow: 1;
    height: 56px;
    padding: 0 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    align-items: center;

    input {
      font-size: 30px;
      padding: 11px 12px;
      color: white;
    }

    &-index {
      font-size: 30px;
      width: 35px;
    }

    &-name {
      flex-grow: 5;
      margin-right: 25px;
    }

    &-money {
      flex-grow: 1;
      width: 110px;
      padding-left: 5px;
    }
  }
}

